.welcome
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100vh
    line-height: 3.2rem
    font-size: 2.5rem

    &__link
        text-decoration: none
        color: rgba(255, 50,0, 1)